.custom-tooltip {
  align-items: center;
  background-color: rgb(var(--primary-color-alternate));
  display: flex;
  flex-direction: column;
  height: 3.9375rem;
  justify-content: space-around;
  padding: 0.25rem 0.375rem;
  width: 2.4375rem;
  z-index: 100;
}

.custom-tooltip__label {
  align-items: center;
  color: rgb(var(--text-light));
  display: flex;
  font-size: var(--desktop-font-size-7px-in-rem);
  height: 1.5rem;
  justify-content: center;
}
