.dashboard {
  display: flex;
  flex-flow: row wrap;
}

.dashboard-user-statistics {
  flex: 1;
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, var(--column-size));
  grid-template-rows: 20rem 16.4375rem;
  gap: 1.875rem;
  width: 52.1875rem;
}
