.duration-sessions-chart {
  background-color: rgb(var(--primary-color-alternate));
  background-image: linear-gradient(
    270deg,
    rgb(var(--text)) 1.19%,
    rgba(var(--text-light), 0.403191) 81.27%
  );
  box-sizing: border-box;
  border-radius: var(--small-rounded-corner);
  box-shadow: var(--sportsee-box-shadow);
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  padding: 1.8125rem 0.9375rem 1rem;
  width: 100%;
}

.duration-sessions-chart__title {
  fill: rgba(var(--text-light), 0.5);
  font-size: var(--desktop-font-size-15px-in-rem);
}

/* Custom tooltip modifier */

.custom-tooltip--line-chart {
  background-color: rgb(var(--text-light));
  height: 1.5625rem;
}

.custom-tooltip__label--line-chart {
  color: rgb(var(--text-dark));
  font-size: var(--desktop-font-size-8px-in-rem);
}
