@media (min-width: 1024px) {
  .navigation-bar-wrapper--side-navbar {
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    justify-content: space-between;
    padding-block: 18.4375rem 3.6875rem;
    padding-inline: 1.65625rem;
    width: 7.3125rem;
    z-index: 0;
  }

  .navigation-bar__copyright {
    color: rgb(var(--text-light));
    font-size: var(--desktop-font-size-12px-in-rem);
    margin-block: 10.25rem 3.9375rem;
    transform: rotate(-90deg);
    width: 8.625rem;
  }

  .navigation-bar__logout-form {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 4rem;
  }

  .navigation-bar__logout-form__button {
    align-items: center;
    background-color: rgb(var(--primary-color));
    border: 0.125rem solid rgb(var(--primary-dark));
    border-radius: var(--small-rounded-corner);
    color: rgb(var(--text-light));
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 0.53125rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
    height: 100%;
    padding: 0.3125rem;
    width: 100%;
  }

  .navigation-bar__logout-form__button:hover,
  .navigation-bar__logout-form__button:active {
    background-color: rgba(var(--primary-color), 0.75);
  }

  /* Navigation bar own element style modifier */

  .navigation-bar--side-navbar {
    flex-direction: column;
    height: 19.75rem;
  }

  .navigation-bar__link-list--side-navbar {
    flex-direction: column;
    width: 4rem;
    row-gap: 1.25rem;
  }

  /* Navigation bar children style */

  .navigation-bar__link-list__item__navlink--side-navbar {
    align-items: center;
    background-color: rgb(var(--text-light));
    border-radius: var(--border-radius-icon-container);
    color: rgb(var(--primary-color));
    display: flex;
    justify-content: center;
    height: 4rem;
    padding: 0.875rem;
    width: 100%;
  }

  .navigation-bar__link-list__item__navlink--side-navbar:hover,
  .navigation-bar__link-list__item__navlink--side-navbar:active {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-light));
  }

  .navigation-bar__link-list__item__navlink--side-navbar--active {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-light));
  }
}
