.header {
  margin-bottom: 4.8125rem;
  grid-column: 1 / -1;
  grid-row: 1;
}

.header__heading {
  margin-top: 0;
  margin-bottom: 2.25625rem;
  font-size: var(--desktop-font-size-header-heading);
  font-weight: var(--font-weight-medium);
}

.header__heading__highlight {
  color: rgb(var(--primary-color));
}

.header__subtitle {
  margin: 0;
  font-size: var(--desktop-font-size-header-subtitle);
  font-weight: normal;
}
