.type-of-activity-chart {
  background-color: rgb(var(--secondary-color));
  border-radius: var(--small-rounded-corner);
  box-sizing: border-box;
  box-shadow: var(--chart-box-shadow);
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  padding: 0.78125rem 0.3125rem;
  width: 100%;
}
