@import-normalize;

/* CSS custom properties */

:root {
  /* Border radius */

  --small-rounded-corner: 0.3125rem;

  /* Box shadow */

  --sportsee-box-shadow-color: rgba(var(--text-dark), 0.0212);
  --sportsee-box-shadow-offset: 0 0.125rem;
  --sportsee-box-shadow-blur: 0.25rem;
  --sportsee-box-shadow-spread-radius: 0;
  --sportsee-box-shadow: var(--sportsee-box-shadow-offset)
    var(--sportsee-box-shadow-blur) var(--sportsee-box-shadow-spread-radius)
    var(--sportsee-box-shadow-color);

  /* Colors */

  --primary-color: 255, 0, 0;

  --primary-color-alternate: 230, 0, 0;

  --primary-color-alternate-dark: 225, 0, 0;

  --secondary-color: 40, 45, 48;

  --tertiary-color: 116, 121, 140;

  --chart-heading-level-1-dark: 32, 37, 58;

  --daily-activity-line-color: 222, 222, 222;

  --daily-activity-chart-tick-color: 155, 158, 172;

  --daily-activity-chart-cursor-background-color: 196, 196, 196, 0.5;

  --text-light: 255, 255, 255;
  --text-dark: 0, 0, 0;

  --dashboard-background-color: 229, 229, 229;

  --chart-background-color: 251, 251, 251;

  --info-card-protein-icon-container-background-color: 74, 184, 255, 0.1;
  --info-card-carbohydrate-icon-container-background-color: 249, 206, 35, 0.1;
  --info-card-lipid-icon-container-background-color: 253, 81, 129, 0.1;

  /* Column */

  --column-size: 16.125rem;

  /* Font sizes */

  --desktop-font-size-48px-in-rem: 3rem;
  --desktop-font-size-26px-in-rem: 1.625rem;
  --desktop-font-size-20px-in-rem: 1.25rem;
  --desktop-font-size-18px-in-rem: 1.125rem;
  --desktop-font-size-15px-in-rem: 0.9375rem;
  --desktop-font-size-14px-in-rem: 0.875rem;
  --desktop-font-size-12px-in-rem: 0.75rem;
  --desktop-font-size-8px-in-rem: 0.5rem;
  --desktop-font-size-7px-in-rem: 0.4375rem;

  /* Font weights */

  --font-weight-medium: 500;

  /* Sizes */

  --info-card-icon-container-size: 3.75rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.woff')
      format('woff');
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff')
      format('woff');
  font-weight: var(--font-weight-medium);
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-medium);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

/* Main content */

.main-content {
  margin: 4.25rem 6.6875rem 5.375rem;
}
