@import-normalize;

/* CSS custom properties */

:root {
  /* Colors */

  --primary-color: 255, 0, 0;

  --primary-color-alternate: 230, 0, 0;

  --secondary-color: 40, 45, 48, 1;

  --chart-heading-level-1-dark: 32, 37, 58;

  --chart-heading-level-2-text-light: 116, 121, 140;

  --dotted-line-color: 222, 222, 222;

  --daily-activity-chart-label-color: 155, 158, 172, 1;

  --daily-activity-chart-cell-background-color: 196, 196, 196, 0.5;

  --text-light: 255, 255, 255;
  --text-dark: 0, 0, 0;

  --dashboard-background-color: 229, 229, 229;

  --chart-background-color: 251, 251, 251;

  /* Font sizes */

  --desktop-font-size-extra-large: 1.25rem;
  --desktop-font-size-large: 0.9375rem;
  --desktop-font-size-medium: 0.875rem;
  --desktop-font-size-small: 0.75rem;
  --desktop-font-size-extra-small: 0.4375rem;

  --desktop-font-size-header-heading: 3rem;
  --desktop-font-size-average-score-chart-pourcentage-number: 1.625rem;
  --desktop-font-size-header-subtitle: 1.125rem;
  --desktop-font-size-duration-sessions: 0.5rem;

  /* Font weights */

  --font-weight-medium: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_regular_macroman/Roboto-Regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_italic_macroman/Roboto-Italic-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_medium_macroman/Roboto-Medium-webfont.woff')
      format('woff');
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff')
      format('woff');
  font-weight: var(--font-weight-medium);
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_bold_macroman/Roboto-Bold-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
  src: url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/webfonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-medium);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main content */

.main-content {
  margin: 4.25rem 6.6875rem 5.375rem;
}
